
html, body {
    scroll-behavior: smooth;
	background-color:#ffffff;
	padding-left: 30px;
}
.fullscreen-video{
	margin-bottom: 10px;
}
.start_page_tag {
	margin-bottom: 50px;
}
body section{
	background-color: #e3e3e3;
}
.main_of_main {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	
	margin-left: 20px;
	margin-right: 20px;
  }
.body_section{
    padding-top: 50px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

  ::-webkit-scrollbar {
	height: 0px;
	width: 5px;
  }
  ::-webkit-scrollbar {
	width: 14px;
  }
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 11px grey; 
	border-radius: 10px;
	cursor: pointer;
	
  }
  ::-webkit-scrollbar-thumb {

    cursor: pointer;
    border-radius: 10px;
  }
ol, ul {
	list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.galerie_title{
	padding-top: 50px;
	margin-bottom: 20px;
}
.galerie_title{
	background-color: rgb(255, 255, 255);
}
body p{
margin: 0px 0px 16px;
padding-left: 0px;
padding-right: 0px;

}
body h2{
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 50px;
	text-align: center;
}

@media (max-width: 500px){
	.more_main_title p{
		text-align: justify;
	}
	body p{
	    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
	}
	body h2{
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 50px;
		color: #222427;
		text-align: center;
	}
	.div_img_text_column {
		padding: 10px;
	}
	.main_of_main {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
		margin-left: 10px;
		margin-right: 10px;
	  }
}